*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    .card {
     width: 400px;
     max-width: 90%;
     height: 304px;
     border-radius: 50px;
     border: 0;
     background: #e0e0e000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}